:root {
  --primary: #ff5252;
  --secondary: green; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.holy-grail {
  display: grid;
  grid-template: auto/repeat(3, 1fr); }

.btn {
  border: none;
  outline: none;
  font-size: 1rem; }
  .btn:hover {
    cursor: pointer; }
  @media screen and (min-width: 48rem) {
    .btn {
      background-color: red; } }

.menu {
  background-color: #ff5252; }
  @media screen and (min-width: 48rem) {
    .menu {
      background-color: green; } }
  .menu__item {
    text-decoration: none;
    font-size: 1.25rem;
    color: #00b300; }
    .menu__item:first-child {
      color: #004d00; }
